#usersTable{
    width: 100%;
}
.error{
    border:1px solid blue;
}

#menu-container{
    background-color: rgb(233, 231, 241);
    font-style: italic;
    padding: 10px;
    text-align: center;
}


h1{
    font-size: 40px;
    text-align: center;
}

input{
    border-color: blue;
    align-content: center;
}

body{
    background-color: cyan;
}
#alertError{
    color: red;
}
.hide {
    display: none;
}
